<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ metadata.author }}">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body class="text-gray-900 bg-gray-50">
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </body>
</html>
