<!doctype html>
<html lang="en">

<head>
    {% include "meta.njk" %}
</head>

<!-- Push footer to bottom -->
<body class="flex flex-col min-h-screen text-gray-900 bg-gray-50 dark:bg-gray-900 dark:text-gray-50">
    <div class="flex-auto">
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
    </div>
    {% include "footer.njk" %}
</body>

</html>