<footer class="px-6 py-8 border-t-2 border-blue-600 sm:text-center">
    <p>© 2021-present <a class="underline focus:no-underline hover:no-underline" href="https://will.cx/">William
            Svoboda</a>. <span class="inline-block">All rights reserved.</span></p>
    <p class="mt-2">Made with ❤️ and help from <span class="inline-block"><a
                class="underline focus:no-underline hover:no-underline" href="https://www.11ty.dev/">Eleventy</a> and <a
                class="underline focus:no-underline hover:no-underline"
                href="https://tailwindcss.com/">Tailwind</a>.</span></p>
</footer>
