<header class="flex flex-col max-w-screen-xl px-6 py-8 lg:flex-row lg:items-center lg:mx-auto">
    <a class="text-3xl font-medium hover:text-blue-600 focus:text-blue-600 dark:hover:text-indigo-700 dark:focus:text-indigo-700" href="{{ '/' | url }}">William Svoboda</a>
    <nav class="flex mt-2 space-x-4 overflow-x-auto lg:ml-auto lg:mt-0 lg:space-x-6">
        {%- for entry in collections.all | eleventyNavigation %}
        <a class="font-medium whitespace-nowrap text-lg hover:text-blue-600 focus:text-blue-600 dark:hover:text-indigo-700 dark:focus:text-indigo-700 {{ 'underline' if (entry.url in page.url and entry.url != '/') or (entry.url == page.url) }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- endfor %}
    </nav>
</header>
