<header class="">
    <a href="{{ '/' | url }}">W://iam</a>
    <nav>
        {%- for entry in collections.all | eleventyNavigation %}
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- endfor %}
    </nav>
</header>
