---
layout: base.njk
---
<article>
    <header class="bg-blue-600 text-gray-50">
        <div class="max-w-screen-xl px-6 py-8 mx-auto sm:text-center lg:py-12">
            <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
            <p class="mt-2 font-mono text-base lg:mt-4 lg:text-lg">
                {% if tags %}
                {% if tags.includes("posts") %}Posted <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                {% elif tags.includes("projects") %}Completed <time datetime="{{ page.date | dateYear }}">{{ page.date | dateYear }}</time>
                {% endif %}
                {% if (tags | filterTagList).length > 0 %}
                ·
                {%- for tag in tags | filterTagList -%}
                {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                <a href="{{ tagUrl | url }}"> <span class="inline-block hover:underline focus:underline">#{{ tag }}</span>{{ ',' if loop.index < (tags | filterTagList).length }}</a>
                {%- endfor %}
                {% endif %}
                {% endif %}
            </p>
        </div>
    </header>
    <div class="px-6 mx-auto mt-8 prose sm:mt-12 prose-blue lg:prose-lg">
        {{ content | safe }}
    </div>
</article>
