---
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

    <div class="flex flex-col max-w-screen-sm px-6 py-48 mx-auto divide-y-2 divide-gray-600 sm:items-center sm:divide-x-2 dark:divide-gray-200 sm:flex-row sm:divide-y-0">
        <h1 class="py-5 pr-5 font-mono text-6xl lg:text-7xl">404</h1>
        <div class="max-w-lg py-5 sm:pl-5">
            <p class="text-xl font-medium lg:text-2xl lg:leading-relaxed">Uh oh, page not found!</p>
            <p class="max-w-md mt-2 leading-snug text-md lg:text-lg lg:leading-normal">These things happen. You might have mistyped a link (or I'm just not doing my job). In the meantime, maybe go <a class="text-blue-600 underline dark:text-indigo-700 focus:no-underline hover:no-underline" href="{{ '/' | url }}">back&nbsphome</a>?</p>
        </div>
    </div>