---
layout: base.njk
eleventyNavigation:
  key: 🏠 Home
  order: 0
---
<main>
  <header class="bg-green-500 text-gray-50">
    <div class="max-w-screen-lg p-6 py-8 mx-auto md:py-12">
      <h1 class="text-4xl font-medium md:text-5xl">Hey, I'm Will&nbsp👋</h1>
      <p class="mt-2 leading-normal max-w-prose md:text-xl md:mt-4 md:leading-relaxed">I study computer science at <a class="underline hover:bg-yellow-500 focus:bg-yellow-500" href="https://www.princeton.edu/">Princeton&nbspUniversity</a>. The web is my hometown, and I love using code to make new things.</p>
    </div>
  </header>
  <section>
    <h2>Latest Posts</h2>
    <div>
      {% for post in collections.posts | head(-3) | reverse %}
      <a href="{{ post.url | url }}">
        <article>
          <h3>{{ post.data.title }}</h3>
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          <p>{{ post.data.description }}</p>
        </article>
      </a>
      {% endfor %}
    </div>
  </section>
</main>
