---
layout: base.njk
eleventyNavigation:
  key: 🏠 Home
  order: 0
---
<header class="bg-blue-600 text-gray-50">
  <div class="max-w-screen-xl px-6 py-8 mx-auto lg:py-12">
    <h1 class="text-4xl font-medium lg:text-5xl">Hey, I'm Will&nbsp👋</h1>
    <p class="mt-4 text-lg leading-snug max-w-prose lg:text-xl lg:leading-relaxed">I study computer science at <a class="underline hover:bg-yellow-500 focus:bg-yellow-500" href="https://www.princeton.edu/">Princeton&nbspUniversity</a>. The web is my hometown, and I love using code to make new things.</p>
  </div>
</header>
<section class="max-w-screen-xl px-6 mx-auto mt-8 lg:mt-12">
  <h2 class="text-3xl lg:text-4xl">Latest Posts</h2>
  {% cardContainer %}
    {% for post in collections.posts | head(-3) | reverse %}
    {% card 
      post.url | url, 
      post.data.title, 
      post.date | htmlDateString, 
      post.date | readableDate, 
      post.data.description 
    %}
    {% endfor %}
  {% endcardContainer %}
</section>
<section class="max-w-screen-xl px-6 mx-auto mt-8 lg:mt-12">
  <h2 class="text-3xl lg:text-4xl">Featured Projects</h2>
  {% cardContainer %}
    {% for project in collections.projects | filterInCollection(collections.featured) | reverse %}
    {% card 
      project.url | url, 
      project.data.title, 
      project.date | dateYear, 
      project.date | dateYear, 
      project.data.description 
    %}
    {% endfor %}
  {% endcardContainer %}
</section>
