---
layout: base.njk
title: All Posts
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: 📚 Posts
  order: 1
pagination:
  data: collections.posts
  size: 4
  reverse: true
  alias: posts
---
<header class="bg-blue-600 text-gray-50">
  <div class="max-w-screen-xl px-6 py-8 mx-auto md:text-center lg:py-12">
    <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
  </div>
</header>
<div class="grid max-w-screen-xl grid-flow-row gap-8 px-6 mx-auto mt-12 sm:grid-cols-2 lg:grid-cols-3">
{%- for post in posts %}
  <a class="transition duration-150 ease-in-out transform hover:scale-105 focus:scale-105 hover:shadow-xl focus:shadow-xl" href="{{ post.url | url }}">
    <article class="h-full p-4 border-2 border-blue-600 rounded-lg">
      <h2 class="text-2xl">{{ post.data.title }}</h3>
      <time class="block mt-1 font-mono text-gray-600" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <p class="mt-2 leading-normal">{{ post.data.description }}</p>
    </article>
  </a>
{% endfor -%}
</div>
{% if pagination.pages.length > 1 %}
<nav class="mt-12 text-lg text-center">
{% if pagination.previousPageHref %}
  <a class="mr-4 hover:underline focus:underline" rel="prev" href="{{ pagination.previousPageHref }}">← Newer</a>
{% endif %}
  <span class="font">Page {{ pagination.pageNumber + 1 }}</span>
{% if pagination.nextPageHref %}
  <a class="ml-4 hover:underline focus:underline" rel="next" href="{{ pagination.nextPageHref }}">Older →</a>
{% endif %}
{% endif %}
</nav>
