---
layout: base.njk
title: All Posts
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: 📚 Posts
  order: 1
pagination:
  data: collections.posts
  size: 4
  reverse: true
  alias: posts
---
<header class="bg-blue-600 text-gray-50">
  <div class="max-w-screen-xl px-6 py-8 mx-auto sm:text-center lg:py-12">
    <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
  </div>
</header>
<div class="max-w-screen-xl px-6 mx-auto">
  {% cardContainer %}
    {%- for post in posts %}
    {% card 
      post.url | url, 
      post.data.title, 
      post.date | htmlDateString, 
      post.date | readableDate, 
      post.data.description 
    %}
    {% endfor -%}
  {% endcardContainer %}
</div>
{% if pagination.pages.length > 1 %}
<nav class="mt-12 text-lg text-center">
{% if pagination.previousPageHref %}
  <a class="mr-4 hover:underline focus:underline" rel="prev" href="{{ pagination.previousPageHref }}">← Newer</a>
{% endif %}
  <span class="font">Page {{ pagination.pageNumber + 1 }}</span>
{% if pagination.nextPageHref %}
  <a class="ml-4 hover:underline focus:underline" rel="next" href="{{ pagination.nextPageHref }}">Older →</a>
{% endif %}
{% endif %}
</nav>
