---
layout: base.njk
title: All Projects
permalink: /projects/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: 👨‍💻 Projects
  order: 2
pagination:
  data: collections.projects
  size: 4
  reverse: true
  alias: projects
---
<header class="bg-blue-600 text-gray-50">
  <div class="max-w-screen-xl px-6 py-8 mx-auto sm:text-center lg:py-12">
    <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
  </div>
</header>
<div class="grid max-w-screen-xl grid-flow-row gap-8 px-6 mx-auto mt-12 sm:grid-cols-2 lg:grid-cols-3">
  {% for project in projects %}

  {% card 
    project.url | url, 
    project.data.title, 
    project.date | dateYear, 
    project.date | dateYear, 
    project.data.description 
  %}

  {% endfor %}
</div>
{% if pagination.pages.length > 1 %}
<nav class="mt-12 text-lg text-center">
{% if pagination.previousPageHref %}
  <a class="mr-4 hover:underline focus:underline" rel="prev" href="{{ pagination.previousPageHref }}">← Newer</a>
{% endif %}
  <span class="font">Page {{ pagination.pageNumber + 1 }}</span>
{% if pagination.nextPageHref %}
  <a class="ml-4 hover:underline focus:underline" rel="next" href="{{ pagination.nextPageHref }}">Older →</a>
{% endif %}
{% endif %}
</nav>
