---
layout: base.njk
title: All Projects
permalink: /projects/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: 👨‍💻 Projects
  order: 2
pagination:
  data: collections.projects
  size: 4
  reverse: true
  alias: projects
---
{% hero %}
  <h1 class="sm:text-center">{{ title }}</h1>
{% endhero %}
<div class="max-w-screen-xl px-6 mx-auto">
  {% cardContainer %}
    {% for project in projects %}
    {% card 
      project.url | url, 
      "h2", 
      project.data.title, 
      project.date | dateYear, 
      project.date | dateYear, 
      project.data.description, 
      project.data.tags | filterTagList
    %}
    {% endfor %}
  {% endcardContainer %}
</div>
{% include "pagination.njk" %}
