---
pagination:
  data: collections.posts
  size: 1
  alias: preview
permalink: "/{{ metadata.social_images_url }}/{{ preview.data.title | slug }}-preview.svg"
eleventyExcludeFromCollections: true
---

<svg width="1200" height="628" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect width="100%" height="100%" fill="#F9FAFB" />
    <text text-anchor="start" x="100" y="204" fill="#4B5563" font-family="Menlo" font-size="1.875em">{{ page.date | readableDate }}</text>
    <text text-anchor="start" x="100" y="294" fill="#2563EB" font-family="ui-sans-serif" font-weight="bold" font-size="6em">{{ preview.data.title }}</text>
    <text text-anchor="start" x="100" y="364" fill="#111827" font-family="ui-sans-serif" font-weight="bold" font-size="2.25em">By William Svoboda at <tspan text-decoration="underline">will.cx</tspan></text>
    <line x1="100" y1="414" x2="1100" y2="414" stroke="#111827" stroke-width="4" stroke-dasharray="10,10"/>
</svg>
