---
layout: base.njk
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - featured
        - posts
        - projects
        - pages
    addAllPagesToCollections: true
---
{% hero %}
  <h1 class="sm:text-center">{{ title }}</h1>
{% endhero %}
{% if (collections[ tag ] | filterInCollection(collections.posts)).length > 0 %}
{% sectionContainer "Tagged Posts" %}
  {% cardContainer %}
    {% for post in collections[ tag ] | filterInCollection(collections.posts) | reverse %}
    {% card 
      post.url | url, 
      "h3", 
      post.data.title, 
      post.date | htmlDateString, 
      post.date | readableDate, 
      post.data.description,
      post.data.tags | filterTagList 
    %}
    {% endfor -%}
  {% endcardContainer %}
{% endsectionContainer %}
{% endif %}
{% if (collections[ tag ] | filterInCollection(collections.projects)).length > 0 %}
{% sectionContainer "Tagged Projects" %}
  {% cardContainer %}
    {% for project in collections[ tag ] | filterInCollection(collections.projects) | reverse %}
    {% card 
      project.url | url, 
      "h3", 
      project.data.title, 
      project.date | dateYear, 
      project.date | dateYear, 
      project.data.description, 
      project.data.tags | filterTagList
    %}
    {% endfor -%}
  {% endcardContainer %}
{% endsectionContainer %}
{% endif %}
