---
layout: base.njk
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - featured
        - posts
        - projects
        - pages
    addAllPagesToCollections: true
---
<header class="bg-blue-600 text-gray-50">
    <div class="max-w-screen-xl px-6 py-8 mx-auto sm:text-center lg:py-12">
        <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
    </div>
</header>
<section class="max-w-screen-xl px-6 mx-auto mt-8 lg:mt-12">
  <h2 class="text-3xl lg:text-4xl">Tagged Posts</h2>
  <div class="grid grid-flow-row gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3">
    {% for post in collections[ tag ] | filterInCollection(collections.posts) | reverse %}
      <a class="transition duration-150 ease-in-out transform border-2 border-blue-600 rounded-lg hover:scale-105 focus:scale-105 hover:shadow-xl focus:shadow-xl" href="{{ post.url | url }}">
        <article class="h-full p-4">
          <h2 class="text-2xl">{{ post.data.title }}</h3>
          <time class="block mt-1 font-mono text-gray-600" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          <p class="mt-2 leading-normal">{{ post.data.description }}</p>
        </article>
      </a>
    {% endfor -%}
  </div>
</section>
<section class="max-w-screen-xl px-6 mx-auto mt-8 lg:mt-12">
  <h2 class="text-3xl lg:text-4xl">Tagged Projects</h2>
  <div class="grid grid-flow-row gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3">
    {% for project in collections[ tag ] | filterInCollection(collections.projects) | reverse %}
    <a class="transition duration-150 ease-in-out transform border-2 border-blue-600 rounded-lg hover:scale-105 focus:scale-105 hover:shadow-xl focus:shadow-xl" href="{{ project.url | url }}">
      <article class="h-full p-4">
        <h3 class="text-2xl">{{ project.data.title }}</h3>
        <time class="block mt-1 font-mono text-gray-600" datetime="{{ project.date | dateYear }}">{{ project.date | dateYear }}</time>
        <p class="mt-2 leading-normal">{{ project.data.description }}</p>
      </article>
    </a>
    {% endfor -%}
  </div>
</section>
