---
layout: base.njk
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - featured
        - posts
        - projects
        - pages
    addAllPagesToCollections: true
---
<header class="bg-blue-600 text-gray-50">
    <div class="max-w-screen-xl px-6 py-8 mx-auto sm:text-center lg:py-12">
        <h1 class="text-4xl lg:text-5xl">{{ title }}</h1>
    </div>
</header>
{% sectionContainer "Tagged Posts" %}
  {% cardContainer %}
    {% for post in collections[ tag ] | filterInCollection(collections.posts) | reverse %}
    {% card 
      post.url | url, 
      post.data.title, 
      post.date | htmlDateString, 
      post.date | readableDate, 
      post.data.description 
    %}
    {% endfor -%}
  {% endcardContainer %}
{% endsectionContainer %}
{% sectionContainer "Tagged Projects" %}
  {% cardContainer %}
    {% for project in collections[ tag ] | filterInCollection(collections.projects) | reverse %}
    {% card 
      project.url | url, 
      project.data.title, 
      project.date | dateYear, 
      project.date | dateYear, 
      project.data.description 
    %}
    {% endfor -%}
  {% endcardContainer %}
{% endsectionContainer %}
